<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="repositoryMappingsConfiguration" type="Kata_Invoicing.Infrastructure.RepositoryFramework.Configuration.RepositorySettings, Kata_Invoicing, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
		<section name="entityMappingsConfiguration" type="Kata_Invoicing.Infrastructure.EntityFactoryFramework.Configuration.EntitySettings, Kata_Invoicing, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<repositoryMappingsConfiguration>
		<repositoryMappings>
			<repositoryMapping interfaceShortTypeName="IInvoiceRepository" repositoryFullTypeName="Kata_Invoicing.Infrastructure.Repositories.Invoices.InvoiceRepository, Kata_Invoicing, Version=1.0.0.0, Cultureure=neutral, PublicKeyToken=null" />
		</repositoryMappings>
	</repositoryMappingsConfiguration>
	<entityMappingsConfiguration>
		<entityMappings>
					<entityMapping entityShortTypeName="Invoice" entityFactoryFullTypeName="Kata_Invoicing.Infrastructure.Repositories.Invoices.InvoiceFactory, Kata_Invoicing, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </entityMappings>
	</entityMappingsConfiguration>
	<appSettings>
    <add key="ConnectionString" value="server=localhost\SQLEXPRESS;Trusted_Connection=True;database=Invoicing_Kata"/>
		<add key="Environment" value="DEV" />

	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>